@font-face {
    font-family: colonnamt;
    src: url(font/colonnamt.ttf);
}

@font-face {
    font-family: bevietnampro_light;
    src: url(font/bevietnampro_light.ttf);
}

@font-face {
    font-family: bevietnampro_bold;
    src: url(font/bevietnampro_bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    text-decoration:  none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: bevietnampro_light;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background: white;
    height: 80px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label.logo{
    color: #0A067D;
    font-size: 60px;
    font-family: colonnamt;
    line-height: 80px;
    padding: 0 100px;
}

header ul{
    float: right;
    margin-right: 20px;
}

header ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-size: 17px;
}

header ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover{
    transition: .5s;
    color: #0A067D;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


@media(max-width: 1169px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        background: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition:  all .5s;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover, a.active{
        background: none;
        color: #0A067D;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

@media(max-width: 858px){
    .checkbtn{
        display: block;
    }

    /* #video-content{
        display: none;
    } */

    .box-content-vd{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 50px;
        color: white;
        z-index: 100;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover, a.active{
        background: none;
        color: #0A067D;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

#video-content{
    position: relative;
    overflow: hidden;
}

.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-content-vd{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px;
    color: white;
    z-index: 100;
}

.box-content-vd .section-title{
    padding-left: 250px;
    font-size: 3em;
    font-family: bevietnampro_bold;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/* Content */
.container{
    max-width: 1280px;
    margin: auto;
}

.content-grid1{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 20px;
}

.content-desc{
    padding: 20px;
    font-size: 3rem;
    line-height: 4rem;
    font-family: bevietnampro_bold;
}

.content-item {
    display: flex;
    height: 15vh;
    justify-content: space-evenly;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
}

.menu-item {
    margin: 0 15px;
    transition: all .5s;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
}

.menu-item a {
    text-decoration: none;
    color: #797979;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 15px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s, color 0.3s, padding 0.3s;
}

.content-item-user-1,
.content-item-user-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.content-item-user-1:hover,
.content-item-user-2:hover {
    background-color: #f0f0f0;
}

.content-grid {
    display: none;
}

.content-grid.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 30px;
}

.menu-item a:hover, .menu-item.active {
    text-decoration: none;
    background-color: #001e1f;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 30px;
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}